
/*
/* Created by Filipe Pina
 * Specific styles of signin, register, component
 */
/*
 * General styles
 */

 body, html{
    height: 100%;
    background-repeat: no-repeat;
    font-size: 0.9rem;
}
.logo-header{
	width: 100%;
    text-align: center;
    background: #028ced;
}
.logo-header img{
	width: 100%;
	max-width: 950px;
}
.footer-section{
	width: 100%;
    height: 150px;
    border-top: 1px solid #dddddd;
    margin-top: 25px;
    padding-top: 15px;
    clear: both;
    background: #f3f5f6;
 background-image: url(/images/BG.png);
}
.footer-section.footer-fixed{
	position: fixed;
	bottom: 1px;
}
.footer-body{
	max-width: 1024px;
	width: 100%;
	margin: 0 auto;
    height: 130px;
}
.logo-botoom {
    background: url(/images/footer-separator.png) no-repeat center right;
    float: left;
    padding-right: 25px;
    height: 120px;
    vertical-align: middle;
    padding-top: 20px;
    width: 20%;
    text-align: center;
    max-width: 200px;
}

.footer-right{
	max-width: 480px;
    width: 80%;
    margin: 0 auto;
    padding-left: 32px;
    float: left;
    font-size: 13px;
}

select::-ms-expand {

    display: none;

}
a{
     word-break: break-all;
 }
 
 
.panel-heading .panel-title{
    padding-top: 30px!important;
    padding-bottom: 20px!important;
}

.navbar-toggler{
    border: 0px solid transparent;
} 
select {
    height: 30px;
    line-height: 28px;
    border: 1px solid #ced4da;
    box-sizing: border-box;
    border-radius: 0;
    -webkit-appearance: none!important;
    -moz-appearance: none!important;
    padding: 0 25px 0 5px;
    padding-top: 0px !important;
    text-overflow: '';
    background-image: url(/images/blue_arrow_down.png) !important;
    background-position: right 10px center !important;
    background-repeat: no-repeat;
}

.chosen-container-single{
    border: 1px solid #ced4da!important;
    border-radius: .25rem;
    height: 37px;
    padding-top: 5px;
}
.chosen-container-single .chosen-single{
	border: 0px solid #ced4da!important;
	background: #ffffff!important;
	padding: 5px 5px;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}

.chosen-container-single .chosen-single div b {
    background: url(/images/blue_arrow_down.png) no-repeat  0 8px !important;
}

input.checkbox{
    display: none;
}

.checkbox label{
    padding-left: 30px;
}

.checkbox label::before {
    width: 20px !important;
    height: 20px !important;
    border-radius: 0px;
    box-sizing: border-box;
    margin-top: 0px !important;
    border: 1px solid #ced4da;
    font-family: 'FontAwesome';
    content: "";
    position: absolute;
    left:8px;
    top:2px;
}

.checkbox input[type="checkbox"]:checked + label::after {
    font-family: 'FontAwesome';
    content: "\f00c";
    font-size: 15px !important;
    text-align: center !important;
    position: absolute;
    left:9px;
    top:1px;
    width: 20px !important;
    height: 20px !important;
}

.checkbox label::after {
    width: 20px !important;
    height: 20px !important;
    text-align: center !important;
    padding-left: 0px !important;
    padding-top: 0px !important;
}

#services {
    padding-left: 6px;
}
.navbar-expand-md #navbars-menu {
    /*display: block;*/
    text-align: right;
    right: 20px;
    position: absolute;
    top: 8px;
}

.navbar-expand-md #navbars-menu li {
    border-right: 1px solid #fff;
    padding-right: 10px;
    padding-left: 10px;
}

.navbar-expand-md #navbars-menu li.logout-menu, .navbar-expand-md #navbars-menu li.login-menu {
    border-right: 0px solid #fff;
}

.navbar-expand-md #navbars-menu li a {

}
.bg-dark {
    background: #da251c !important;
    color: #ffffff;
}

.navbar a{
    color: #ffffff;
}

.fa-navicon:before, .fa-reorder:before, .fa-bars:before {
    content: "\f0c9";
    color: #ffffff;
    font-size: 2pc;
}

.navbar-dark .navbar-brand {
    color: #fff;
    font-size: 1.1em;
    padding: 0px;
     background: #da251c !important;
     z-index: 900;
}

.main{
    margin-top: 70px;
}

h1.title {
    font-size: 25px;
    padding-bottom: 15px;
    text-transform: uppercase;
    font-weight: bold;
}

h2.title {
    font-size: 20px;
}

hr {
    width: 10%;
    color: #fff;
}

input,
input::-webkit-input-placeholder {
    padding-top: 3px;
}

.main-section{
    background-color: #fff;
}

.main-center{
    margin-top: 30px;
    margin: 0 auto;
}

.save-button{
    margin-top: 5px;
}

.register-button{
    font-size: 11px;
    text-align: center;
}

.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.main-section .control-label{
}
.upper{
    text-transform: uppercase;
}

.main-section .col-12, .main-section .cols-sm-12{
	clear:both;
    float: none;
}

.main-section .col-6, .main-section .cols-sm-6, .main-section .col-4, .main-section .col-8,
.main-section .col-3, .main-section .col-9, .main-section .col-5, .main-section .col-7 {
    float: left;
    /*max-width: 100%;*/
}

.main-section .control-label{
    padding-top: 5px;
}

.info0-section .examid-label, .info0-section .examdate-label{
    max-width: 25%;
}

.info1-section .thisinh-label{
    /*max-width: 25%;*/
}


.form-horizontal{
    max-width: 900px;
    margin: 0 auto;
}

.main-section .form-group{
    padding-top:1px;
    padding-bottom:1px;
    display: inline-block;
}

.title-section {
    padding-top: 20px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 20px;
    width: 100%;
    clear: both;
    position: relative;
}

.main-section .form-group {
    margin-bottom: 1px;
    
}

.form-group{
    min-height: 63px;
}

.chk-pbd, .chk-cc, .chk-create-account{
    width: 18px;
    height: 18px;
    display: initial;
}

.f-input{
   padding-left:2px;
   padding-right:2px;
    
}

.save-button{
    width: 200px;
}
.print-pbd-btn {
    width: 250px;
}
.navbar-expand-md #navbars-menu ul li {
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    height: 25px;
    font-size: 14px;
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-expand-md #navbars-menu ul li a:hover{
    border-bottom: 1px solid #ffffff;
}
    
.navbar-expand-md #navbars-menu ul li a{
    margin-right: 0px;
}
  
.payment-note-title{
    font-size:24px;
    text-decoration:underline;
    color:red;
    font-weight:bold;
}
.important-note{
    border: 5px solid red;
    padding: 10px;
    margin-top: 20px;
}

.mark-section .lb-score{
    font-size: 18px;
    font-weight: bold;
}

.mark-section .dlb-mark{
    font-weight: bolder;
    padding-left: 10px;
}

.mark-section td.dlb-mark{
    padding-left: 20px;
}
.mark-section .clearboth {
    clear: both;
}

.mark-section .sub-section {
    padding-left: 80px;
}

.mark-section .lb-mark {
    font-size: 24px;
    font-weight: bolder;
}

.mark-section .mark-normal .lb-mark, .mark-section .mark-normal .lb-score{
    font-weight: normal;
} 

.mark-section .lb-company {
    padding-left: 6px;
}

.tracuu-menu, .tech-support-2{
    display:none;
}

@media (max-width: 900px){
    .tracuu-menu, .tech-support-2{
        display:initial!important;
    }
    .tracuu-menu-s, .tech-support-1{
        display:none!important;
    }
}

@media (min-width: 768px){
	.container {
	    max-width:100%!important;
	}
}
@media (min-width: 576px){
	.container {
	    max-width:100%!important;
	}
}

@media (min-width: 768px){
    .navbar-expand-md #navbars-menu {
        display: block;
        margin: 0 auto;
    }
}

@media (max-width: 767px){
    .navbar-expand-md #navbars-menu {
       position: absolute;
       top:30px; 
       background: #da251c!important;
    }
    
   .navbar-expand-md #navbars-menu {
	    position: absolute;
	    top: 58px;
	    background: #da251c!important;
	    width: 100%;
	    left: 0px;
	    border-top: 1px solid #ffffff;
    }
    
    .navbar-expand-md #navbars-menu ul li {
        padding: 9px 20px;
        height: auto;
        text-align: left;
        border-bottom: 1px solid #ffffff;
    }
    
    .navbar{
        /*position: fixed;*/
        width: 100%;
        top: 0px;
    }
    .logo-header{
    	/*margin-top: 55px;*/
    }
    
    .dropdown-menu{
       border: 0px solid #ffffff;
    }
    .dropdown-menu a:ACTIVE{
       text-decoration: none;
    }
    
    .navbar-expand-md #navbars-menu ul li a:hover {
        border-bottom: 0px solid #ffffff;
    }
    .panel-heading .panel-title {
        padding-bottom: 0px;
        padding-top: 79px!important;
    }
}

@media (max-width: 600px){
	.footer-section .logo-botoom img{
		max-width: 70px;
	}
	
	.footer-section .footer-right{
		font-size: 9.5px!important;
	}
    .container {
        font-size: 0.85em;
        padding-right: 5px;
        padding-left: 5px;
    }
    
    .payment-note-title{
        font-size:18px;
    }
    
    .important-note {
	    border: 3px solid red;
	    padding: 5px;
	    margin-top: 15px;
	}
	
	dl, ol, ul {
        padding-left: 20px;
    }
    
    .info1-section .form-group, .info1-section .item-row{
       width: 100%!important;
    }
    .info1-section .form-group.col-6{
       width: 100%!important;
    }

    .info1-section .control-label{
        width: 100%;
    }

    .info2-section .form-group{
       width: 100%!important;
    }
    
    .info2-section .form-group.col-6{
       width: 100%!important;
    }

    .info2-section .control-label{
        width: 100%;
    }
    
    .f-input{
       padding-left:15px;
       padding-right:15px;
    }
    
    .info1-section .col-6, .info1-section .cols-sm-6, .info1-section .col-4, .info1-section .col-8,
    .info1-section .col-3, .info1-section .col-9, .info1-section .col-5, .info1-section .col-6, .info1-section .col-7 {
        width: 50%;
        max-width: 100%;
        padding-left: 5px;
    }
    .info2-section .form-group.col-6{
        max-width: 100%;
    }
    .info1-section .col-12, .info1-section .col-12, .info1-section .col-12, .info1-section .col-12 {
        padding-left: 5px;
    }
    
    .info1-section label.col-3,.info1-section label.col-6{
        width: 40%;
    }
    
    .info1-section label.col-9{
        width: 60%;
    }
    
    .mark-section .lb-score {
        font-size: 1em;
    }
    
    .mark-section .lb-mark {
        font-size: 1em;
    }
}

@media (max-width: 500px){
	
	.chkpbd, .chkcc{
	   padding-left:50px;
	}
	
	.info3-section .col-3, .info3-section .form-group{
	   width: 100%;
	   max-width: 100%;
	}
	
	.save-button{
    width: 100%;
    }
    
    h1.title{
        font-size: 15px;
    }
    h2.title{
        font-size: 15px;
    }
    
    .title-section{
       font-size: 0.8em;
    }
    .info1-section .form-group {
        height: auto;
    }
    
    .main-section-border{
        border: 0px solid red!important;
        width: 100%!important;
        max-width: 100%!important;
    }
    
    .panel-heading .panel-title, .panel-title h1.title{
        padding-bottom: 0px!important;
    }
    
    .main-section-border{
        padding-top: 0px!important;
    }
    .info0-section .examid-label, .info0-section .examdate-label,
    .info0-section .level-list, .info0-section .f-examdate {
        max-width: 100%!important;
        width: 100%!important;
        padding-left: 0px!important;
    }
    
    .info0-section .examid-label, .info0-section .examdate-label {
	    max-width: 100%!important;
	    width: 100%!important;
	    padding-left: 0px!important;
	}
	
	.panel-heading .panel-title {
        padding-bottom: 0px;
        padding-top: 79px;
    }
    #tech-support{
        font-size: 0.8em;
    }
    
    dl, ol, ul {
        padding-left: 20px;
    }
    
    .payment-note-title{
        font-size:1em;
    }
    
    .important-note {
        border: 2px solid red;
    }
    
     .mark-section .lb-score {
        font-size: 0.9em;
    }
    
    .mark-section .lb-mark {
        font-size: 0.9em;
    }
    
}
@media (max-width: 400px) {
    .info1-section label.col-3,.info1-section label.col-6, .info1-section label.col-9{
        width: 50%;
    }
    .info1-section .col-6, .info1-section .cols-sm-6, .info1-section .col-4, .info1-section .col-8,
    .info1-section .col-3, .info1-section .col-9, .info1-section .col-5, .info1-section .col-6, .info1-section .col-7 {
        padding-left: 2px;
    }
    
    .info1-section .col-12, .info1-section .col-12, .info1-section .col-12, .info1-section .col-12 {
        padding-left: 2px;
    }
    
    .mark-section .lb-score {
        font-size: 0.8em;
    }
    
    .mark-section .lb-mark {
        font-size: 0.8em;
    }
    
    .info2-section .form-group.col-6{
        max-width: 100%;
        width: 100%;
    }
    
    .info1-section .form-group label.control-label, .info1-section .form-group .f-input{
        max-width: 100%;
        width: 100%;
    }
    .info2-section .form-group label.control-label, .info2-section .form-group .f-input{
        max-width: 100%;
        width: 100%;
    }
    
    .info1-section .form-group  .f-input input{
        max-width: 100%;
        width: 100%;
    }
    .info2-section .form-group .f-input input{
        max-width: 100%;
        width: 100%;
    }
    
}
@media (max-width: 370px) {
	.title-section {
	    font-size: 0.7em;
	}
	
	.info4-section .grand-total {
	   font-size: 0.75em!important;
	}
	
	.important-note {
        border: 1px solid red;
    }
    
    .info1-section .col-6, .info1-section .cols-sm-6, .info1-section .col-4, .info1-section .col-8,
    .info1-section .col-3, .info1-section .col-9, .info1-section .col-5, .info1-section .col-6, .info1-section .col-7 {
        padding-left: 1px;
    }
    
    .info1-section .col-12, .info1-section .col-12, .info1-section .col-12, .info1-section .col-12 {
        padding-left: 1px;
    }
    
    .mark-section .lb-score {
        font-size: 0.8em;
    }
    
    .mark-section .lb-mark {
        font-size: 0.8em;
    }
}

.chkcc, .chkpbd{
    padding-top:5px;
}

.description-section{
    text-align: left;
}

.form-control{
    padding: 5px 5px;
}

input::-webkit-input-placeholder {
    font-size: 12px;
}

#email::-webkit-input-placeholder {
    text-transform: uppercase;
}

select::-webkit-input-placeholder {
    font-size: 12px;
}

::-moz-placeholder {font-size: 12px;} /* Firefox 19+ */
:-moz-placeholder {font-size: 12px;}  /* Firefox 18- */
:-ms-input-placeholder {font-size: 12px;} /* IE */

.button-group{
    text-align: center;
}

div.error{
    color:red;
    font-size: 14px;
}

label.error {
    display: initial;
    color: red;
    font-size: 12px;
    padding: 0px;
    margin: 0px;
}

input.error, select.error, .chosen-container-single .chosen-single.error, .chosen-container-multi .chosen-choices.error {
	border:1px solid red!important;
}

#services label{
    margin-bottom: 0px;
}

.chkpbd label.error {
	display: inline-block;
}

.info4-section .amount{
    text-align: right;
    float: right;
    padding-top: 5px;
    font-weight: bold;
    font-size: 16px;
}
.main-section {
    width: 100%;
    max-width: 1024px;
}

.main-section-border {
    border: 1px solid red;
    border-radius: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

.login-section .main-section-border {
    border: 1px solid #cccccc!important;
}

.main-section .info4-section .control-label,
.main-section .info4-section .form-group {
    padding-top: 0px;
}
 
 .info4-section .grand-total{
    font-weight: bold;
    color:red;
    font-size: 16px;
 }

.main-section .info4-section .b-line {
    border-bottom: 1px dashed #cccccc;
}
 
 #examid, #examdate{
    font-weight: bold;
 }
 
 #in-words{
    text-align: right;
    width: 100%;
    color: red;
 }

.exam-list {
    max-width: 1024px;
    margin: 0 auto;
    width: 100%;
}

.exam-tbl .row-bg {
    background: #cccccc;
}

.exam-tbl {
    border-style: inset;
    background-color: #cccccc;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border: 1px solid #cccccc;
}

.exam-tbl th:first-child {
    border-top-left-radius: 0px;
}

.exam-tbl th:last-child {
    border-top-right-radius: 0px;
}

.exam-tbl th {
    background-color: #337ab7;
    color: #ffffff;
    padding: 10px 5px 10px 10px;
    text-transform: uppercase;
    font-size: 0.9em;
    border: 1px solid #cccccc;
    border-collapse: collapse;
    border-style: inset;
    border-color: #cccccc;
    border-block-start: none;
    order-left-style: solid;
    border-right: none;
}

.exam-tbl td {
    padding: 10px 5px 10px 10px;
    background-color: #ffffff;
}

.exam-tbl tr.expired td {
    background-color: #efefef;
}

 .exam-tbl .rowg0{
    background-color: rgb(247, 249, 251, 0.9);
 }
 
 .exam-tbl .rowg1{
    background-color: rgba(205, 228, 253, 0.3);
 }
 
 .exam-tbl .rowe0{
    background-color: rgba(205, 228, 253, 0.5);
 }
 
 .exam-tbl .rowe1{
    background-color: rgba(183, 204, 226, 0.5)
 }
 
 .exam-tbl .rowd0{
    background-color: rgba(229, 230, 230, 0.5);
 }
 
 .exam-tbl .rowd1{
    background-color: rgba(255, 255, 255, 0.5);
 }
 
 .signup-single, .signup-multi, .confirm-btn{
    background: blue;
    border: 0px solid blue;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 7px;
    padding-top: 3px;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 2px;
    margin-top: 2px;
 } 
 
  .signup-single, .confirm-btn{
    margin-right: 10px;
    color:#ffffff!important;
  }
  .signup-multi{
    margin-right: 10px;
    color:#ffffff!important;
  }
  
  .signup-single:hover{
    background: pink;
  }
  .signup-multi:hover{
    background: pink;
  }
  
  .page-title{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding:10px;
  }
  
   .exam-tbl .rowg{
    font-weight: bold;
  }
#dv-examdate-note {
    color: red;
    padding-top: 5px;
}
  
  .examdate-note{

  }
  #selected-exam-fee{
    font-weight: bold;
  }
  
#examid option, #examdate option{
    font-size: 18px;
    font-weight: bold;
}

.error-section {
    padding-left: 20px;
}
.error-section, .error-list {
    color: red;
}

.error-list, .error-note{
    padding-left:20px;
}

.error-note{
    margin-top:10px;
}

/* Login */

.login-section .control-label {
    padding-left: 6px;
}

.login-section .input-group-addon {
    border-radius: .25rem 0rem 0rem .25rem;
    position: absolute;
    height: 36px;
    width: 36px;
    padding-top: 8px;
}

.login-section .form-control.login, .login-section .form-control.password {
    padding-left: 45px;
}

.title-note {
    color: #007bff;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.break-all{
	word-break: break-all;
}

.registerConfirm{
    min-width:300px;
}

.modal-dialog .modal-header {
    display: inline-block;
}

.history-list th{
    text-align:center;
}
.history-list .tr-header td {
    background: #337ab7;
    color: #ffffff;
    font-weight: bold;
    text-transform:uppercase;
    font-size:0.9em;
}

.title-success {
    color: blue;
    font-size: 22px;
}

.title-success .status{
    color: red;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bolder;
}

.panel-heading .panel-title{
   padding-bottom: 15px;
}

.title-error {
    color: red;
    font-size: 1.5em;
}

.success-note1 {
    color: blue;
    font-size: 1.2em;
}

.success-note2 {
    font-size: 1em;
    color: blue;
}

#level-list {
    /*padding-left: 0px;*/
}

#level-list .level-item {
    padding-left: 0px;
    padding-top: 5px;
    display: inline-block;
    padding-bottom: 14px;        
}

.b-line {
    border-bottom: 1px dashed #cccccc;
}

#level-list .level-item .il, #level-list .level-item .ir {
    padding-left: 0px;
    padding-right: 0px;
}

#level-list .level-item .ir {
    text-align:right;
}

#level-list .level-qty {
    width: 40px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

#level-list .level-qty:read-only {
    background-color: #f1f0f0;
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.level-list .error {
    display:inline-block;
}

#ListCandidatesContent{
    max-height:400px;
    overflow: auto;
}


.candidate-list .row-bg {
    background: #cccccc;
}

.candidate-list {
    border-style: initial;
    background-color: #cccccc;
    border-collapse: initial;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    font-size: 13px;
}

.candidate-list th:first-child {
    border-top-left-radius: 10px;
}

.candidate-list th:last-child {
    border-top-right-radius: 10px;
}

.candidate-list th {
    background-color: #337ab7;
    color: #ffffff;
    padding: 10px 5px 10px 10px;
    font-size:0.9em;
    text-transform:uppercase;
}

.candidate-list td {
    padding: 10px 5px 10px 10px;
    background-color: #ffffff;
}

.candidate-list .rowg0 {
    background-color: rgb(247, 249, 251, 0.9);
}

.candidate-list .rowg1 {
    background-color: rgba(205, 228, 253, 0.3);
}

.candidate-list .rowe0 {
    background-color: rgba(205, 228, 253, 0.5);
}

.candidate-list .rowe1 {
    background-color: rgba(183, 204, 226, 0.5)
}

.candidate-list .rowd0 {
    background-color: rgba(229, 230, 230, 0.5);
}

.candidate-list .rowd1 {
    background-color: rgba(255, 255, 255, 0.5);
}

@media (min-width: 992px) {
    .modal-lg {
        max-width: 1224px;
    }
}

.view-candidates{
    cursor:pointer;
    text-decoration: underline;
    color: #007bff;
}

.view-candidates .has-result {

}
.help {
    padding-left:15px;
    padding-bottom:25px;
    color:blue;
}

.money{
    text-align:right;
}

.exam-tbl .money {
    padding-right:10px;
}

.expired {
    background: #cccccc;
}

.navbar-expand-md #navbars-menu ul li a:hover{
    text-decoration:none;
    color:#ffffff;
}
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

#navbars-menu .dropdown-menu {
    background: #da251c !important;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 0px;
    padding-left: 0px;
}

#navbars-menu .dropdown-item:focus, .dropdown-item:hover {
    color: #000000 !important;
    text-decoration: none;
    background-color: #f8f9fa;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #ccccccc7;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #ccccccc7;
}

:-ms-input-placeholder { /* IE 10+ */
    color: #ccccccc7;
}

:-moz-placeholder { /* Firefox 18- */
    color: #ccccccc7;
}

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #ccccccc7;
}

input:-ms-input-placeholder { /* IE */
    color: #ccccccc7;
}

input::-ms-input-placeholder { /* IE Edge */
    color: #cccccc!important;
}

.required {
    color:red;
    padding-left:5px;
}
.register-complete .form-group {
    min-height: 30px;
}
.banklist {
    padding-left: 18px;
}
.bank-line {
    margin-top: 20px;
    margin-bottom: 10px;
}

.bankcount1 {
    list-style: none;
    padding-left: 14px!important;
}
.no-l-pading {
    padding-left: 0px;
}

.thanh-tien {
    padding-left: 23px;
}

.empty-exam-list{
    text-align:center;
    padding-top:20px;
    font-size:15px;
    font-weight:bold;
}

input.search-combo {
    width: auto !important;
    border-radius: 5px 0px 0px 5px;
    border-right: 0px;
}

.input-group-addon {
    border-radius: 0px 5px 5px 0px;
    line-height: 1.5;
}

.dropdown-menu.search-combo li.active {
    background: #007bff;
    color:#ffffff!important;
}

.no-edit .required {
    display: none;
}

.print {
    position: absolute;
    right: 10px;
    text-transform: initial;
}

.padding-print{
	padding-top:10px;
}

.candidate-list .r-error td {
    background: #f3e3b4;
}

.cancel-button {
    width: 124px;
    background: #cccccc;
    color: #000000;
    border: 1px solid #cccccc;
    font-size: 14px;
}

.cancel-button:hover {
    background: rgba(0,123,255,.5);
}

.fl-left {
    float: left;
}

.readonly{
    background:#cccccc;
}
.center{
    text-align:center;
}

.payment-fee-note-title {
    font-size: 24px;
    text-decoration: underline;
    color: red;
    font-weight: bold;
}

.info-services .form-group {
    min-height: 30px;
}

.payment-notes li {
    padding-bottom:5px;
}

.payment-notes li a{
    color:red;
}

#navbars-menu .mr-auto li.show{
    position:relative;
}

.filter_status #searchbtn {
    width: 70px;
    height: 27px;
    padding: 0px;
}

.filter_status #exam_date {
    text-align: center;
    height: 30px;
    border-radius: 0px;
    border: 1px solid #ced4da;
}

.filter_status #f_exam_date, .filter_status #t_exam_date {
    text-align: center;
    height: 30px;
    border-radius: 0px;
    border: 1px solid #ced4da;
}

.filter-options {
    padding: 0px;
    margin: 0px;
}
.filter-options li {
    float: left;
    list-style: none;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    width:10.7%;
    min-width: 115px;
}

.filter-options li input, .filter-options li select {
    width:100%;
    min-width:110px;
    height: 30px;
}
.history-list-section {
    max-width: 1420px !important;
}

#filter_selected_btn {
    background: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 0px;
    height: 30px;
}

#detailfrm .view-candidates {
    text-decoration:underline;
}

.bold {
    font-weight:bold;
}

.info-detail li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.info-detail > li {
    padding-top: 10px;
    padding-bottom: 10px;
}

.ptt {
    padding-bottom: 5px;
}

.right {
    text-align:right;
}

.info-detail .view-candidates {
    text-decoration: none!important;
}

.normal {
    font-weight:normal;
}

.input-group input {
    /*width: 100%;*/
}

.autocomplete {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.autocomplete button
{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.autocomplete .dropdown-menu li {
    padding-left: 10px;
    padding-right: 10px;
    cursor:pointer;
}

.autocomplete .dropdown-menu li:hover {
    background: #007bff;
    color:#ffffff;
}

.exam-tbl td.signup-btns {
    white-space: nowrap;
}

.pagination {
    text-align:center;

}
.pagination ul {
    list-style: none;
    height: 20px;
    padding: 20px;
    margin: 0 auto;
}
.pagination li {
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    border-right: 0px solid red;
}

.pagination li.start, .pagination li.end, .pagination li.next {
    border-right: 0px solid red !important;
}

.pagination .disabled a {
    color: gray;
}
.pagination .active a {
    color: red;
    font-weight:bold;
}

.no-upper {
    text-transform: initial;
}

.group-register #services input[type="checkbox"]:checked + label::after {
    left: 0px!important;
}

#s_capdothi
{
    padding-right: 25px;
}

#myaccount-frm input, .info2-section input, .single-register input{
    text-transform: uppercase;
}

#email{
    text-transform: lowercase!important;
}

.ketquatracuu-section{
    max-width: 1024px;
    margin: 0 auto;
    margin-top: 20px;
}
.fa-home{
    font-size: 23px!important;
    width: 35px;
    text-align: center;
}

#newRegisterConfirm #newRegisterStart{
    background: blue;
    color: #ffffff;
}

.history-section.admin-view input{
    min-width:inherit;
}

.history-section.admin-view .datepicker{
	width: 100px;
	min-width: 100px!important;
}

.history-section.admin-view .filter-options li {
    width: auto;
}

.mark-detail{
    padding-left: 10px;
    clear: both;
}

.has-result{
    background: blue;
    color: #ffffff!important;
    font-size: 12px;
    text-align: center;
    width: 82px;
    border-radius: 5px;
    padding-bottom: 2px;
    margin-top: 3px;
    cursor: pointer;
    display: inline-block;
}

.candidate-result-section .history-list{
    font-size: 12px;
    width: 100%;
}
.has-result:hover {
    background: #007bff;
}

.exam-group-row td{
    background: #fff6e2;
    font-weight: bold;
}

.candidate-result-section .history-list td {
    padding: 5px 3px 5px 3px;
}

.candidate-result-section .exam-group-row{
    text-align: center;
}

.candidate-result-section .exam-group-title{
    text-align: left;
}

.candidate-result-section .exam-group-row td:nth-child(n+2){
    font-size:12px;
}

.candidate-result-section .exam-item-row td:nth-child(n+7){
    text-align:center;
}

.candidate-result-section .exam-group-row td:last-child{
    text-align:left;
    padding-left:5px;
}

.candidate-result-section .exam-item-row td:last-child{
    text-align:left;
    padding-left:10px;
}

.candidate-result-section .sub-title{
    font-size: 16px;
    color:red;
}

.exam-group-row .totalcnt{
    padding-left: 15px;
}

.panel-heading .panel-title {
    padding-top: 10px!important;
    padding-bottom: 3px!important;
}

.history-list .view-candidates:hover {
    text-decoration: underline;
}

.history-list .as-btn.view-candidates:hover {
    color: #ffffff;
    background: blue;
    padding-left: 6px;
    cursor: pointer;
    padding-right: 6px;
    padding-bottom: 3px;
    border-radius: 4px;
    min-width: 100px;
    text-decoration: none!important;
}

.forgetpass{
    color:blue;
    padding:10px;
    cursor: pointer;
}

#tech-support{
    cursor: pointer;
    background: #da251c !important;
    z-index: 900;
    height: 25px;
    padding-top: 0px;
    font-size: 1em;
}
#tech-support div.note{
    line-height: 9px;
    font-size: 11px;
    text-align: center;
}

#DlgTechSupport .modal-dialog{
    max-width: 600px!important;
}
#DlgTechSupport .support-phone-list li{
    font-weight: normal;
    padding-top: 5px;
}

#DlgTechSupport .support-phone-list li b.em, #DlgTechSupport b.em {
    color: red;
    white-space: nowrap;
    padding-left: 5px;
}

.mb{
    font-weight: bold;
    color:#28ad46;
}

#thongBaoDialog .modal-lg{
    max-width: 800px;
}

#thongBaoDialog .modal-lg .modal-body{
    text-align: center;
}

#thongBaoDialog .modal-lg .modal-body img{
    width: 100%;
}

.admin-view #s_capdothi{
    height: 30px;
}

input{
border: 1px solid #ced4da;
}

.schedules h1.title {
    padding-bottom: 1px!important;
}

.tolichthi{
    color:red;
    text-decoration: underline;
    font-size:20px;
}

.odd td{
	background:#e5f3f1!important;
}

.even td{
}

.exam-tbl td {
	padding: 10px 5px 10px 10px;
    border: 1px solid #cccccc;
    border-collapse: collapse;
    border-style: inset;
    border-color: #cccccc;
    border-block-start: none;
    order-left-style: solid;
    border-right: none;
}

.row-bg.odd td, .row-bg.even td{
	border-top: 2px solid #cccccc;
}

@media print {
    .print, .no-print {
        display: none!important;
    }

    .info2-section .form-group, .info1-section .form-group {
        min-height: 17px !important;
    }

    .info4-section .form-group {
        min-height: 27px !important;
        height: 27px !important;
    }

    .bank-item{
        width:50%;
        float:left;
    }
    .title-section {
        padding-top: 15px !important;
        font-size: 16px !important;
        margin-bottom: 5px !important;
    }
    .main-section-border {
        padding-top: 2px !important;
        padding-bottom: 2px !important;
    }
    
    .padding-print{
		padding-top:5px;
	}
	
	.info-detail li {
    	padding-top: 2px;
    	padding-bottom: 2px;
	}
	
	.panel-heading .panel-title {
    	padding-top: 2px!important;
    	padding-bottom: 1px!important;
	}
	
	.ptt {
    	padding-bottom: 3px;
	}
}

@media (max-width: 770px){
	.container {
		/*padding-top: 50px!important;*/
	}
}
.wfmark{
	font-size: 10px;
	padding-top: 15px;
}
.datepicker{
	z-index:999!important;
}

.confirm-nd-section .confirm-nd-title {
    color: red;
    font-weight: bold;
    padding-bottom: 5px;
}